---
layout: default
---

<div class="container homepage-shell">
  <div class="row g-4">
    <div class="col-lg-9 order-2 order-lg-1">
      <main class="main-column">
        {{ content }}
      </main>
    </div>
    <div class="col-lg-3 order-1 order-lg-2">
      <aside class="section-nav-wrapper">
        <nav class="section-nav">
          <a href="/#about">About</a>
          <a href="/#news">News</a>
          <a href="/#research">Research</a>
          <a href="/blog/" {% if page.url == "/blog/" %}aria-current="page"{% endif %}>Blog</a>
          <a href="/publications/" {% if page.url == "/publications/" %}aria-current="page"{% endif %}>Publications</a>
        </nav>
      </aside>
    </div>
  </div>

  <footer class="site-footer">
    <p>
      Design and source code modified from
      <a href="https://jonbarron.info">Jon Barron's website</a>. Edit
      <a href="https://github.com/dev10110/dev10110.github.io">here</a>.
    </p>
  </footer>
</div>
